# Folders
thread/
__pycache__/
Background_subtraction/__pycache__/
Client/__pycache__/
detection_module/__pycache__/
records/__pycache__/
Road_Detection/__pycache__/
Server/app/__pycache__/
Server/Controllers/__pycache__/
Server/Models/__pycache__/
Client/images

# Files
*.weights
*.t7
*.mp4
*.avi
*.so
*.txt
*.pyc

!requirements.txt